.section-7{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;

    .background{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background-color: #F9F8F9;
        width: 400px;
        height: 800px;
    }

    .questions{
        width: 500px;
        img{
            border-radius: 50%;
            padding: 2px 4px;
            border: 1px solid #202020;
        }
        > h1{
            @include boldTxt;
        }
        p{
            @include texts;
            display: flex;
            padding: 20px 0px;
            border-bottom: 1px solid #202020;
            margin-bottom: 5px;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 450px;
        }
        > .expandedAns{
            display: flex;
            flex-direction: column;
            > p{
                @include texts;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                > img{
                    border: 1.5px solid #FF7132;
                    padding: 4px 4px;
                }
            }
        }
    }

    .img{

        .img-container{
            position: relative;
            background-color: $orange;
            border-radius: 50%;
            height: 480px;
            width: 480px;
            border: 20px solid white;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            
            }
        }

    }
}