* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./utils/fonts";
@import "./utils/variables";
@import "./sections/section-1";
@import "./sections/section-2";
@import "./sections/section-3";


// for all:
a{
    text-decoration: none;
}
.btn{
    transition: .3s;
}

section {
    padding: 40px 275px 0 275px;
    position: relative;
    margin-bottom: 100px;
    
    @media (max-width: 1440px) {
        padding: 40px 200px 0 200px;
    }
}

body {
    font-family: "Poppins Regular";
    font-style: normal;
}